@import "Variables.scss";

.App {
  @include app;
  @include full_width_container;
  @include partygps_text_input;
  @include partygps_btn_blue;
  @include partygps_title;
  @include partygps_subtitle;
  @include color-icons;

  a:hover {
    text-decoration: none;
  }

  input.form-control {
    min-height: 46px;
  }

  // colorful hr
  .colorgraph {
    height: 7px;
    border-top: 0;
    background: #c4e17f;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  }

  // login register page
  #login,
  #register
  {
    width: inherit;
    height: inherit;
    min-height: inherit;
    margin: 0;
    padding: 0;
    background-image: url("../src/assets/fullpage_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(14, 122, 116, 0.5);;
    background-blend-mode: multiply;
  }
  .layer {
    background-color: rgba(14, 122, 116, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .form-container {
    position: absolute;
    width: inherit;
    height: inherit;
    display: flex;
  }

  // venue category field
  .basic-multi-select {
    input {
      height: 32px;
    }
  }
  .basic-multi-select.is-invalid {
    padding: 0 !important;
    .select__control {
      border-color: #dc3545;
    }
  }

  // venue tags field
  .input-tags {
    width: 100%;
    height: 46px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
  }
  .ReactTags__selected {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;

    span.tag-wrapper {
      background: #e9ecef;
      padding: 8px 15px;
      margin-top: 5px;
      display: flex;
      justify-content: space-between;
      margin-left: 5px;

      a.ReactTags__remove {
        padding-left: 15px;
      }
    }

    .ReactTags__tagInput {
      width: 100%;
    }

    .ReactTags__suggestions {
      background: gray;
      width: 100%;
      ul {
        background: gray;
        margin: 0;
        padding: 0;
      }
      li {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    }
  }

  // display tags
  #display-tags,
  #display-category
  {
    display: flex;
    flex-wrap: wrap;

    span.tag-wrapper,
    span.category-wrapper
    {
      padding: 5px 10px;
      margin: 5px 5px 0 0;
    }

    span.category-wrapper {
      color: white;
    }
  }



  // venue phone - react phone input
  .react-phone-number-input__row {
    border: 1px solid #ced4da;
    height: 46px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
  }

  .react-phone-number-input__icon {
    width: 30px;
    height: auto;
    border: none;
  }

  .react-phone-number-input__icon.react-phone-number-input__icon--international {
    visibility: hidden;
  }

  .react-phone-number-input__country-select {
    pointer-events: none;
  }

  .react-phone-number-input__country-select-arrow {
    display: none;
  }

  input.react-phone-number-input__input.react-phone-number-input__phone {
    border: none;
  }

  .react-phone-number-input__error {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
  }

  // event date time fields
  .event-date-time {
    .is-invalid {
      .form-control {
        border-color: #dc3545;
      }
    }
  }

  // alerts
  .alert-wrapper {
    i {
      padding-top: 2px;
    }
    .close {
      padding-left: 10px !important;
    }
  }

  // overview panel
  #overview-panel {
    .link {
      text-decoration: none;
    }
    .link:hover div {
      color: #4a4a4a;
    }
  }
}
