// partygps-fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');


// partygps-colors
$partygps-blue: #23E7E7;
$partygps-red: #FF473A;
$venue: #D42664;
$event: #F6D531;
$facebook: #4567AE;
$intagram: #000000;
$twitter: #2A9FEF;
$youtube: #FD2025;
$website: #20C9AB;
$edit: #2279EF;
$delete: #F51F24;
$tag: #73BAA8;
$category: #F27D5C;
$spotify: #1db954;

@mixin color-icons {
  .venue {
    color: $venue;
  }
  .venue-bg {
    background-color: $venue;
  }
  .event {
    color: $event;
  }
  .event-bg {
    background-color: $event;
  }
  .facebook {
    color: $facebook;
  }
  .instagram {
    background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .twitter {
    color: $twitter;
  }
  .youtube {
    color: $youtube;
  }
  .website {
    color: $website;
  }
  .edit {
    color: $edit;
  }
  .delete {
    color: $delete;
  }
  .tag {
    color: $tag;
  }
  .tag-bg {
    background-color: $tag;
  }
  .category {
    color: $category;
  }
  .category-bg {
    background-color: $category;
  }
}

// font size
@mixin font-min {font-size: 12px}
@mixin font-sm {font-size: 14px}
@mixin font-med {font-size: 16px}
@mixin font-lg {font-size: 20px}
@mixin font-x-lg {font-size: 24px}

// app container
@mixin app {
  font-family: 'Montserrat', sans-serif;
}

// full-width container
@mixin full_width_container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

// button
@mixin partygps_btn_blue {
  button.partygps-btn-blue {
    border-radius: 0;
    border: 0;
    background-color: $partygps-blue;
    color: black;
    font-weight: 500;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  button.partygps-btn-blue:hover,
  a.partygps-btn-blue.spotify-login:hover
  {
    background-color: black;
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    transform: translateY(-1px);
  }
  a.partygps-btn-blue.spotify-login {
    background-color: $spotify;
    color: black;
    border-radius: 0;
    border: 0;
  }
}

// text input
@mixin partygps_text_input {
  input.partygps-text-input {
    border-radius: 0;
    border: 0;
    border-bottom: solid 2px;
    color: black;
    padding: 15px 20px;
    font-size: 14px;
  }
}

// title
@mixin partygps_title {
  div.partygps-title {
    color: white;
    font-size: 36px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
}

// subtitle
@mixin partygps_subtitle {
  div.partygps-subtitle {
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
  }
}

