#map-view {
  width: inherit;
  height: 100vh;
  min-height: inherit;

  // buttons
  .container-current-location-button {
    border: 2px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 70px;
    left: 10px;
    z-index: 1000;
    width: 34px;
    height: 94px;

    button.current-location-button,
    button.show-hide-venues,
    button.show-hide-event,
    button.btn-dashboard,
    button.btn-login
    {
      background: white;
      border-radius: 0;
      padding: 0;
      margin: 0;

      img {
        width: 28px;
        padding: 5px;
      }
    }

    button.btn-dashboard,
    button.btn-login
    {
      border: 2px solid rgba(0, 0, 0, 0.2);
      border-radius: 0;
      width: 34px;
      height: 30px;
      margin: 0px 0 0 -2px;

      a i {
        padding: 4px 7px;
      }
    }

    button.current-location-button:focus,
    button.show-hide-venues:focus,
    button.show-hide-event:focus,
    button.btn-dashboard:focus,
    button.btn-login:focus
    {
      box-shadow: none;
    }
  }

  div.leaflet-control-zoom.leaflet-bar.leaflet-control a {
    border-bottom: 0 !important;
  }

  div.leaflet-control-zoom.leaflet-bar.leaflet-control a:hover,
  button.current-location-button:hover,
  button.show-hide-venues:hover,
  button.show-hide-event:hover,
  button.btn-dashboard:hover,
  button.btn-login:hover
  {
    background: gray;
  }


  .leaflet-container {
    height: inherit;

    .leaflet-div-icon {
      background: transparent;
      border: none;
    }
  }
}
