@import "../../Variables.scss";

// sidebar container
.sidebar-wrapper {
  z-index: 1000;
  width: 280px;
  min-height: 100vh;
  right: 0;
  top: 0;
  display: flex;
  flex-flow: column;
  height: 100%;

  .sidebar.container {
    margin: 0;
    padding: 0;
    min-height: inherit;
    position: relative;
    width: 280px;

    // sidebarHeaderHtml
    .sidebar-header-container {
      width: inherit;

      .venue-title {
        max-width: 200px;
      }
    }

    // sidebarHeaderImageHtml
    .sidebar-header-image-container {
      .card-img-top {
        height: 200px;
        object-fit: cover;
        border-radius: 0;
      }
    }

    // sidebarContentHtml
    .sidebar-content-container {
      // text content
      background-color: #DDDDDD;
      flex-grow: 1;
      overflow: auto;

      // today event happening
      .content-happening {
        color: $partygps-red;
        @include font-sm;
      }

      // today event title
      .content-title {
        @include font-lg;
      }

      // today event date time
      .content-date-time {
        @include font-min;

        i {
          color: $partygps-red;
        }
      }

      // today event description
      .content-description {

      }

      // today event lineup
      .content-lineup {

      }

      // upcoming events
      .content-upcoming {
        .upcoming-label {
          @include font-lg;
        }
        .upcoming-events-text {
          @include font-sm;

          i {
            color: $partygps-red;
            @include font-med;
          }

          .each-event-title {
            max-width: 215px;
            word-wrap: break-word;
          }
        }
      }
    }

    // sidebarFooterHtml
    .sidebar-footer-container {
      background-color: $partygps-red;

      .venue-address {
        font-size: 12px;
      }
    }
  }
}

// hiding scroll bar
::-webkit-scrollbar
{
  width: 0px;
}
::-webkit-scrollbar-track-piece
{
  background-color: transparent;
  -webkit-border-radius: 6px;
}